* {
  font-family: 'Nunito Sans','Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito Sans','Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.small-text {
  font-size: 0.8em;
}

#topNav {
  display: flex;
  flex-direction: row;
  padding: 20px 3%;
  align-items: center;
  background-color: white;
  color: #4D3620;
  filter: drop-shadow(0px 1px 3px #C3BEBC);
}

.navItems  {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 3%;

}

.navItems li {
  list-style: none;
  padding: 20px;
}

.navItems a {
  text-decoration: none;
  color: inherit;
}

.navItems a:hover {
  text-decoration: underline;
  color: inherit;
  font-weight: 600;
}

.BBLogo {
  width: 75px;
}

.icon {
  margin-right: 3px;
}

.row {
  --bs-gutter-x: 0;
}

.left-side {
  height: 100vh;
  background-color: #EEF2F3;
}


.cartTitle {
  text-align: center;
  background-color: #EEF2F3;
  padding: 24px 0px 12px 0px;
}

.itemPic {
  width: 50%;  
  margin-right: 3%;
}

.list-group {
  --bs-list-group-border-radius: 0;
}

.list-group-item {
  display: flex;
  align-items: center;
  color: #2B1812;
  background-color: #EEF2F3;
  padding-left: 10%;
  border: none;
}

.list-group-item.active {
  z-index: 2;
  color: #2B1812;
  background-color:white;
  border-color: white;
  border-left: 12px solid #4D3620;
}

.tab-pane {
  padding: 0 3% 0 36px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
  "itemLabel options"
  "itemLabel options"
  "itemLabel options"
  "itemLabel options";
  row-gap: 28px;
}

.options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-check-input {

}

.form-check-input:checked {
  background-color: #5A7C86;
  border-color: #5A7C86;
}

